In [9]:
# Import necessary libraries
import pandas as pd

In [10]:
# Direct full path to your CSV file
csv_file_path = 'C:/Users/omerf/Documents/LocalNews/LocalNews/dataset/uscities.csv'

In [11]:
# Load the CSV file
df = pd.read_csv(csv_file_path)

In [12]:
# Select only the relevant columns you need for your project
columns_to_keep = ['city', 'city_ascii', 'state_id', 'state_name', 'lat', 'lng', 'population', 'zips']
cleaned_df = df[columns_to_keep]

In [13]:
# Save the cleaned data to a new CSV file in the same folder
cleaned_df.to_csv('C:/Users/omerf/Documents/LocalNews/LocalNews/dataset/cleaned_uscities.csv', index=False)

In [14]:
# Display the first few rows of the cleaned dataframe to verify the output
cleaned_df.head()

,city,city_ascii,state_id,state_name,lat,lng,population,zips
0,New York,New York,NY,New York,40.6943,-73.9249,18908608,11229 11228 11226 11225 11224 11222 11221 1122...
1,Los Angeles,Los Angeles,CA,California,34.1141,-118.4068,11922389,91367 90291 90293 90292 91316 91311 90035 9003...
2,Chicago,Chicago,IL,Illinois,41.8375,-87.6866,8497759,60018 60649 60641 60640 60643 60642 60645 6064...
3,Miami,Miami,FL,Florida,25.7840,-80.2101,6080145,33128 33129 33125 33126 33127 33149 33144 3314...
4,Houston,Houston,TX,Texas,29.7860,-95.3885,5970127,77069 77068 77061 77060 77063 77062 77065 7706...